{% extends "base.html" %} {% block title %} Url Shortener {% endblock %} {%
block body %}
<div class="wrapper">
  <div>
    <div class="form_wrapper">
      <form class="form" action="">
        <input class="input input__box" type="url" required autofocus />
        <input class="input input__submit" type="submit" value="shorten" />
      </form>
    </div>
    <div class="center">
      <div class="result">
        <span id="short_url">demourl.com/Adhiufui432oS</span>
        <span class="icon">
          <img src="{{url_for('static',filename='copy.png')}}" alt="ic" />
        </span>
        <span class="copied">copied</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
